[Desktop Entry]
Type=Application
Name=Install i3Revenge
Comment=Installer for i3Revenge
Categories=Utility;
Exec=sudo lxterminal -e /abif-master/abif
Icon=/usr/share/icons/Faenza/places/scalable/archlinux-logo.svg
